/* GENERAL */
body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-size: calc(1.75rem + 1.5vw);
  font-weight: 700;
  line-height: 1;
}

.btn {
  border-radius: 10px;
}

.btn-dark:hover {
  background-color: #fff;
  color:black
}

.container-md img {
  width: 100%;
  height: 100%;
}

.content .btn {
  padding: .5em 1.5em;
}

.companies img {
  height: auto;
}

/* NAVIGATION */
.navbar {
  margin-top: 1em;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:hover {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(./images/icon-menu.svg);
}

.offcanvas {
  max-width: 65%;
}

.offcanvas-header {
  justify-content: flex-end;
  padding: 1.5rem;
}

.btn-close {
  background: url(./images/icon-close-menu.svg) center/1.5em auto no-repeat;
  opacity: 1;
}

img.nav-toggle-arrow {
  margin-left: 10px;
}

.dropdown-menu {
  border: none;
}

.dropdown-image {
  display: inline-block;
  margin-right: 10px;
}

.dropdown-item, .nav-button {
  color: #737373;
}

.account {
  display: flex;
  flex-direction: column;
}


/* LAYOUT */
.companies {
  margin-top: 2.5em;
}


@media screen and (width < 700px) {
  .content {
    text-align: center;
  }

  .nav-button:first-of-type{
    margin-bottom: 10px;
  }
}

@media screen and (width > 768px) {
  h1 {
    font-size: calc(4rem + 1.5vw)
  }

  .container-fluid {
    padding-left: 2em;
    padding-right: 2em;
  }

  .navbar > .container-fluid {
    justify-content: flex-start;
  }

  .container-md {
    margin-top: 6em;
  }

  .offcanvas {
    max-width: 100%;
  }

  .account {
    flex-direction: row;
  }

  .account a {
    margin-right: 2em;
  }

  .nav-item:nth-of-type(1), .nav-item:nth-of-type(2) {
    min-width: 115px;
  }

  .dropdown-menu {
    box-shadow: 0px 17px 40px 8px rgba(0,0,0,0.31);
  }

  .content {
    order: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: calc(4rem + 2vw);
  }

  .content p {
    padding-right: calc(1.75rem + 1.5vw);
  }

  .content img {
    height: auto;
  }

  .img-container {
    order: 2;
  }

  .content .col {
    align-self: center;
  }

  .companies {
   margin-right: calc(1.75rem + 1.5vw);
  }
}
